<h2>Your order is complete!</h2>
<h3>Enjoy your delicious food.</h3>

<p>
Restaurant: <%= @order.restaurant.name %><br/>
Name: <%= @order.name %><br/>
Phone: <%= @order.phone %>
</p>

<%= render :partial => 'order_item_summary' %>
